/*/poetry.lock                                       linguist-generated
/*/doc/changes/changelod.md                          linguist-generated
/pytest-itde/exasol/pytest_itde/version.py           linguist-generated
/pytest-saas/exasol/pytest_saas/version.py           linguist-generated
/pytest-backend/exasol/pytest_backend/version.py     linguist-generated
/pytest-slc/exasol/pytest_slc/version.py             linguist-generated
/pytest-extension/exasol/pytest_extension/version.py linguist-generated
