name: Status Report

on:
  workflow_call:
    inputs:
      working-directory:
        required: true
        type: string

jobs:

  report:
    runs-on: "ubuntu-24.04"
    permissions:
      contents: read
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v5
        with:
          working-directory: ${{ inputs.working-directory }}

      - name: Download Artifacts
        uses: actions/download-artifact@v6
        with:
          path: ./${{ inputs.working-directory }}/artifacts
          pattern: "*${{ inputs.working-directory }}*"

      - name: List and Rename Artifacts
        working-directory: ${{ inputs.working-directory }}
        run : |
          cd artifacts
          
          for f in *${{ inputs.working-directory }}*; do
            mv "$f" "${f/-${{ inputs.working-directory }}/}"
          done
          
          ls -lhaR

      - name: Copy Artifacts into Root Folder
        run: poetry run -- nox -s artifacts:copy -- artifacts
        working-directory: ${{ inputs.working-directory }}

      - name: Validate Artifacts
        run: poetry run -- nox -s artifacts:validate
        working-directory: ${{ inputs.working-directory }}

      - name: Upload to sonar
        env:
          SONAR_TOKEN: "${{ secrets.SONAR_TOKEN }}"
        run: poetry run -- nox -s sonar:check
        working-directory: ${{ inputs.working-directory }}

      - name: Generate Report
        run: poetry run -- nox -s project:report -- --format json | tee metrics.json
        working-directory: ${{ inputs.working-directory }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ inputs.working-directory }}-metrics.json
          path: ${{ inputs.working-directory }}/metrics.json

      - name: Generate GitHub Summary
        working-directory: ${{ inputs.working-directory }}
        run: |
          echo -e "# Summary for ${{ inputs.working-directory }}\n" >> $GITHUB_STEP_SUMMARY
          poetry run -- nox -s project:report -- --format markdown >> $GITHUB_STEP_SUMMARY
          poetry run -- nox -s dependency:licenses >> $GITHUB_STEP_SUMMARY
          echo -e "\n\n# Coverage\n" >> $GITHUB_STEP_SUMMARY
          poetry run -- coverage report --format markdown >> $GITHUB_STEP_SUMMARY || true
          poetry run -- tbx lint pretty-print >> $GITHUB_STEP_SUMMARY
          poetry run -- tbx security pretty-print .security.json >> $GITHUB_STEP_SUMMARY
